<div class="container fileupload-buttonbar">
  <div class="row-fluid">
    <div class="span7">
      <div class="fileinput-button-wrapper">
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Прикрепить файлы</span>
          <input type="file" name="attachment[attach]" multiple="multiple">
        </span>

        <span class="fileinput-button-caption">
          Можно выбрать несколько файлов за раз
        </span>
      </div>
    </div>

    <!-- The global progress information -->
    <div class="span5 fileupload-progress fade">
      <!-- The global progress bar -->
      <div class="progress progress-info progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" style="width:0%;"></div>
      </div>

      <!-- The extended global progress information -->
      <div class="progress-extended">&nbsp;</div>
    </div>
  </div>
</div>

<!-- The loading indicator is shown during file processing -->
<div class="fileupload-loading"></div>

<div role="presentation" id="fileupload-files">
  <ul class="files" data-toggle="modal-gallery" data-target="#modal-gallery">
    
  </ul>
</div>
