<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
  <li class="template-upload fade">
    <span class="fade"></span>
    <h4>{%=file.name%} &ndash; <span>{%=o.formatFileSize(file.size)%}</span></h4>

    {% if (file.error) { %}

      <span class="label label-important">{%=locale.fileupload.error%}</span>
      &nbsp;{%=locale.fileupload.errors[file.error] || file.error%}

    {% } else if (o.files.valid && !i) { %}

      <div class="progress progress-info progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
        <div class="bar" style="width:0%;"></div>
      </div>

      <span class="start">
        {% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary">
            <i class="icon-upload icon-white"></i>
            <span>{%=locale.fileupload.start%}</span>
          </button>
        {% } %}
      </span>

    {% } %}

    <span class="cancel">
      {% if (!i) { %}
        <button class="btn btn-warning">
          <i class="icon-ban-circle icon-white"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
      {% } %}
    </span>
  </li>
{% } %}
</script>