// Heading h1
h1 { color: red; }

// Heading h2
h2 { color: blue; }

// Blockquote
blockquote { font-style: italic; }

// Paragraph
p { color: #000; }

// Cite
cite {  }

// Preformatted text
pre {  }

// Exclamation
.exclamation {
	font-size: 110%;
	font-weight: bold;
	color: red;
}
