<p id="notice"><%= notice %></p>

<ul>
  <% @album.photos.each do |photo| %>
    <li><%= image_tag(photo.image.image.thumb("150x150#").url) %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
